@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#ask{
	width:100%;
}
h1 {

  font-weight:200;
}
  strong {
    font-weight:300;
    color:#539D00;
  }

h2 {
  
  line-height:2.5;
  color:gray;
  font-weight:400;
}

.nav {
  list-style: none;
}

.nav li {
  display: inline-block;
}

.nav li a{

  
  font-size: 1.2em;
  text-decoration: none; 
  padding: .2em 1em; 
  color: black; 
  
}